.command {
  -fx-border-radius: 8;
  -fx-background-radius: 9;
  -fx-border-style: solid;
  -fx-border-width: 3px;
  -fx-font-size: 1.1em;
  .label {
  }

  .text-field {
    -fx-padding: 0;
    -fx-min-width: 38px;
    -fx-max-width: 38px;
    -fx-alignment: center;
  }
  .button {
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 2px;
    -fx-background-radius: 0 7 7 0;
  }
}

.register {
  -fx-font-size: 1.5em;
  -fx-background-color: white;
  -fx-border-width: 3px;
  -fx-border-color: black;
  -fx-border-style: solid;
}

.registerIndex {
  -fx-font-size: 0.75em;
  -fx-background-color: white;
}

.button {
  //-fx-border-style: solid;
  //-fx-border-color: darkcyan;
  //-fx-border-width: 3px;
  -fx-background-color: white;
  -fx-cursor: hand;
  &:hover {
    -fx-background-color: whitesmoke;
  }
}

.toolbar {
  //-fx-background-color: silver;
}

.command-container {
  &:odd {
    -fx-background-color: #ffffff;
  }
}

.command-container {
  -fx-padding: 3px;

  &.current {
    -fx-background-color: #ffe28e;
    .mark {
      visibility: visible;
    }
  }
  .mark {
    visibility: hidden;
  }
}

@mixin commandClr($color) {
  -fx-background-color: $color;
  -fx-border-color: darken($color, 20);
  -fx-cursor: hand;
  .button.remove {
    -fx-border-color: darken($color, 20);
    -fx-text-fill: darken(mix(red, $color, 65%), 20);
    -fx-background-color: mix(red, $color, 65%);
    &:hover {
      -fx-text-fill: darken(mix(red, $color, 65%), 30);
      -fx-background-color: lighten(mix(red, $color, 65%), 5);
    }
  }
  &:hover {
    -fx-border-color: darken($color, 40);
  }
  //&.current {
  //  -fx-background-color: red;
  //}
  .text-field {
    -fx-background-color: lighten($color, 3);
    -fx-border-style: none;
    &:focused {
      -fx-background-color: lighten($color, 10);
    }
  }
}

.add {
  $color: greenyellow;
  @include commandClr($color);
}

.jump {
  $color: #ffbd1f;
  @include commandClr($color);
}

.zero {
  $color: #3ecfff;
  @include commandClr($color);
}

.copy {
  $color: #c9a8ff;
  @include commandClr($color);
}


