.command {
  -fx-border-radius: 8;
  -fx-background-radius: 9;
  -fx-border-style: solid;
  -fx-border-width: 3px;
  -fx-font-size: 1.1em; }
  .command .text-field {
    -fx-padding: 0;
    -fx-min-width: 38px;
    -fx-max-width: 38px;
    -fx-alignment: center; }
  .command .button {
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 2px;
    -fx-background-radius: 0 7 7 0; }

.register {
  -fx-font-size: 1.5em;
  -fx-background-color: white;
  -fx-border-width: 3px;
  -fx-border-color: black;
  -fx-border-style: solid; }

.registerIndex {
  -fx-font-size: 0.75em;
  -fx-background-color: white; }

.button {
  -fx-background-color: white;
  -fx-cursor: hand; }
  .button:hover {
    -fx-background-color: whitesmoke; }

.command-container:odd {
  -fx-background-color: #ffffff; }

.command-container {
  -fx-padding: 3px; }
  .command-container.current {
    -fx-background-color: #ffe28e; }
    .command-container.current .mark {
      visibility: visible; }
  .command-container .mark {
    visibility: hidden; }

.add {
  -fx-background-color: greenyellow;
  -fx-border-color: #79c800;
  -fx-cursor: hand; }
  .add .button.remove {
    -fx-border-color: #79c800;
    -fx-text-fill: #833309;
    -fx-background-color: #e25910; }
    .add .button.remove:hover {
      -fx-text-fill: #532106;
      -fx-background-color: #ef661d; }
  .add:hover {
    -fx-border-color: #3b6200; }
  .add .text-field {
    -fx-background-color: #b3ff3e;
    -fx-border-style: none; }
    .add .text-field:focused {
      -fx-background-color: #c1ff62; }

.jump {
  -fx-background-color: #ffbd1f;
  -fx-border-color: #b88200;
  -fx-cursor: hand; }
  .jump .button.remove {
    -fx-border-color: #b88200;
    -fx-text-fill: #a42500;
    -fx-background-color: #ff420b; }
    .jump .button.remove:hover {
      -fx-text-fill: #711900;
      -fx-background-color: #ff5625; }
  .jump:hover {
    -fx-border-color: #523a00; }
  .jump .text-field {
    -fx-background-color: #ffc22e;
    -fx-border-style: none; }
    .jump .text-field:focused {
      -fx-background-color: #ffcc52; }

.zero {
  -fx-background-color: #3ecfff;
  -fx-border-color: #00a2d7;
  -fx-cursor: hand; }
  .zero .button.remove {
    -fx-border-color: #00a2d7;
    -fx-text-fill: #722b35;
    -fx-background-color: #bb4859; }
    .zero .button.remove:hover {
      -fx-text-fill: #4d1d24;
      -fx-background-color: #c25b6a; }
  .zero:hover {
    -fx-border-color: #005571; }
  .zero .text-field {
    -fx-background-color: #4dd3ff;
    -fx-border-style: none; }
    .zero .text-field:focused {
      -fx-background-color: #71dcff; }

.copy {
  -fx-background-color: #c9a8ff;
  -fx-border-color: #8a42ff;
  -fx-cursor: hand; }
  .copy .button.remove {
    -fx-border-color: #8a42ff;
    -fx-text-fill: #b0112c;
    -fx-background-color: #ec3b59; }
    .copy .button.remove:hover {
      -fx-text-fill: #810d20;
      -fx-background-color: #ee526d; }
  .copy:hover {
    -fx-border-color: #5300db; }
  .copy .text-field {
    -fx-background-color: #d2b7ff;
    -fx-border-style: none; }
    .copy .text-field:focused {
      -fx-background-color: #e9dbff; }

/*# sourceMappingURL=style.css.map */
